{% extends 'inventory/main.html' %}

{% block content %}

{% load static %}

<br>

<div style="padding-left: 10px; padding-right: 10px;">
	<div class="row">
		<div class="col-md-12">
            {% for chosen in customer %}
            <tr>
                <h5>{{chosen.first_name}}'s Cart</h5>
            </tr>
            {% endfor %}
			<hr>
			<div class="card card-body">
				<table class="table table-sm">
					<!-- Add search customer functionality here -->
						<tr>
							<th>Name</th>
                            <th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					{% for item in items %}
						<tr>
							<td>{{item.stock.name}}</td>
                            <td>{{item.stock.price}}</td>
                            <td><button data-product="{{item.stock.sku}}" data-action="add" class="update-cart btn btn-success" type="button" >+</button> {{item.quantity}} <button data-product="{{item.stock.sku}}" data-action="remove" class="update-cart btn btn-danger" type="button">-</button></td>
							<td>{{item.get_total}}</td>
						</tr>
					{% endfor %}
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Cart Total: {{order.get_cart_total}}</th>
                        </tr>
				</table>
				<form action="" method="POST" class="form-horizontal">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-8">
							{{payment.payment_method}}
						</div>        	
					</div>
					{% if order.get_cart_total != 0 %}
						<div class="col-8 offset-4">
							<button type="submit button" class="btn btn-primary btn-lg btn-block">Check Out</button>
						</div>  
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}